/* Background */
body {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: optima;
}

img {
    max-height: 40vh;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
}

.substack-embed {
    border:1px;
    solid #EEE; 
    background:white; 
    border-radius: 6px; 
    border: none;

}